<div class="form-container">
  <form [formGroup]="gapForm" (ngSubmit)="submit()">
    <h2 style="font-weight: bold;" class="form-title">Employment Gaps</h2>

    <div formArrayName="gapExplanations">
      <div *ngFor="let gap of gapExplanations.controls; let i = index" [formGroupName]="i" class="edu-group">
        <div class="edu-header">
          <h3>Gap {{ i + 1 }}</h3>
          <button type="button" class="remove-btn" (click)="removeGap(i)" *ngIf="gapExplanations.length > 1">
            Remove
          </button>
        </div>

        <div class="form-grid">
          <div class="form-field">
            <label>From Date</label>
            <input formControlName="fromDate" type="date" />
          </div>

          <div class="form-field">
            <label>To Date</label>
            <input formControlName="toDate" type="date" />
          </div>

          <div class="form-field full-width">
            <label>Reason</label>
            <input formControlName="reason" type="text" />
          </div>
        </div>
      </div>
    </div>

    <div class="buttons">
      <button type="button" (click)="addGap()" [disabled]="gapExplanations.length >= 3">
        + Add Gap
      </button>
    </div>

    <div class="navigation-buttons">
      <button type="button" class="nav-btn" (click)="previous()">Previous</button>
      <button type="submit" class="nav-btn" [disabled]="!gapForm.valid">Submit</button>
    </div>
  </form>
</div>